<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PCTT.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>99BC396FDDBBB416378A24E2356FA5E2B454FB82</string>
				<key>dateExpires</key>
				<string>1/21/20</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>99BC396FDDBBB416378A24E2356FA5E2B454FB82</string>
						<key>dateExpires</key>
						<string>1/21/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3L2APQ2D3U</string>
						<key>name</key>
						<string>3D ART DESIGN CONSULTANCY AND TECHNOLOGY SOLUTION JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>99BC396FDDBBB416378A24E2356FA5E2B454FB82</string>
						<key>dateExpires</key>
						<string>1/21/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AVHexColor.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3L2APQ2D3U</string>
						<key>name</key>
						<string>3D ART DESIGN CONSULTANCY AND TECHNOLOGY SOLUTION JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>99BC396FDDBBB416378A24E2356FA5E2B454FB82</string>
						<key>dateExpires</key>
						<string>1/21/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AllPod.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3L2APQ2D3U</string>
						<key>name</key>
						<string>3D ART DESIGN CONSULTANCY AND TECHNOLOGY SOLUTION JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>99BC396FDDBBB416378A24E2356FA5E2B454FB82</string>
						<key>dateExpires</key>
						<string>1/21/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CropViewController.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3L2APQ2D3U</string>
						<key>name</key>
						<string>3D ART DESIGN CONSULTANCY AND TECHNOLOGY SOLUTION JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>99BC396FDDBBB416378A24E2356FA5E2B454FB82</string>
						<key>dateExpires</key>
						<string>1/21/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DKCamera.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3L2APQ2D3U</string>
						<key>name</key>
						<string>3D ART DESIGN CONSULTANCY AND TECHNOLOGY SOLUTION JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>99BC396FDDBBB416378A24E2356FA5E2B454FB82</string>
						<key>dateExpires</key>
						<string>1/21/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3L2APQ2D3U</string>
						<key>name</key>
						<string>3D ART DESIGN CONSULTANCY AND TECHNOLOGY SOLUTION JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>99BC396FDDBBB416378A24E2356FA5E2B454FB82</string>
						<key>dateExpires</key>
						<string>1/21/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3L2APQ2D3U</string>
						<key>name</key>
						<string>3D ART DESIGN CONSULTANCY AND TECHNOLOGY SOLUTION JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>99BC396FDDBBB416378A24E2356FA5E2B454FB82</string>
						<key>dateExpires</key>
						<string>1/21/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FLAnimatedImage.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3L2APQ2D3U</string>
						<key>name</key>
						<string>3D ART DESIGN CONSULTANCY AND TECHNOLOGY SOLUTION JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>99BC396FDDBBB416378A24E2356FA5E2B454FB82</string>
						<key>dateExpires</key>
						<string>1/21/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GrowingTextView.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3L2APQ2D3U</string>
						<key>name</key>
						<string>3D ART DESIGN CONSULTANCY AND TECHNOLOGY SOLUTION JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>99BC396FDDBBB416378A24E2356FA5E2B454FB82</string>
						<key>dateExpires</key>
						<string>1/21/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ImageScrollView.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3L2APQ2D3U</string>
						<key>name</key>
						<string>3D ART DESIGN CONSULTANCY AND TECHNOLOGY SOLUTION JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>99BC396FDDBBB416378A24E2356FA5E2B454FB82</string>
						<key>dateExpires</key>
						<string>1/21/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JSONKit_NoWarning.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3L2APQ2D3U</string>
						<key>name</key>
						<string>3D ART DESIGN CONSULTANCY AND TECHNOLOGY SOLUTION JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>99BC396FDDBBB416378A24E2356FA5E2B454FB82</string>
						<key>dateExpires</key>
						<string>1/21/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MarqueeLabel.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3L2APQ2D3U</string>
						<key>name</key>
						<string>3D ART DESIGN CONSULTANCY AND TECHNOLOGY SOLUTION JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>99BC396FDDBBB416378A24E2356FA5E2B454FB82</string>
						<key>dateExpires</key>
						<string>1/21/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PHFDelegateChain.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3L2APQ2D3U</string>
						<key>name</key>
						<string>3D ART DESIGN CONSULTANCY AND TECHNOLOGY SOLUTION JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>99BC396FDDBBB416378A24E2356FA5E2B454FB82</string>
						<key>dateExpires</key>
						<string>1/21/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3L2APQ2D3U</string>
						<key>name</key>
						<string>3D ART DESIGN CONSULTANCY AND TECHNOLOGY SOLUTION JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>99BC396FDDBBB416378A24E2356FA5E2B454FB82</string>
						<key>dateExpires</key>
						<string>1/21/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3L2APQ2D3U</string>
						<key>name</key>
						<string>3D ART DESIGN CONSULTANCY AND TECHNOLOGY SOLUTION JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>99BC396FDDBBB416378A24E2356FA5E2B454FB82</string>
						<key>dateExpires</key>
						<string>1/21/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3L2APQ2D3U</string>
						<key>name</key>
						<string>3D ART DESIGN CONSULTANCY AND TECHNOLOGY SOLUTION JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>99BC396FDDBBB416378A24E2356FA5E2B454FB82</string>
						<key>dateExpires</key>
						<string>1/21/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SkeletonView.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3L2APQ2D3U</string>
						<key>name</key>
						<string>3D ART DESIGN CONSULTANCY AND TECHNOLOGY SOLUTION JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>99BC396FDDBBB416378A24E2356FA5E2B454FB82</string>
						<key>dateExpires</key>
						<string>1/21/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwipyCell.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3L2APQ2D3U</string>
						<key>name</key>
						<string>3D ART DESIGN CONSULTANCY AND TECHNOLOGY SOLUTION JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>99BC396FDDBBB416378A24E2356FA5E2B454FB82</string>
						<key>dateExpires</key>
						<string>1/21/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3L2APQ2D3U</string>
						<key>name</key>
						<string>3D ART DESIGN CONSULTANCY AND TECHNOLOGY SOLUTION JOINT STOCK COMPANY</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3L2APQ2D3U.com.giamsat.vn</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>3L2APQ2D3U</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Giám sát thiên tai.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2cf02e03-4fa4-4ad0-a22d-c92a47c580c3</string>
				<key>name</key>
				<string>Monitoring_dis</string>
			</dict>
			<key>symbols</key>
			<false/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3L2APQ2D3U</string>
				<key>name</key>
				<string>3D ART DESIGN CONSULTANCY AND TECHNOLOGY SOLUTION JOINT STOCK COMPANY</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
